@model bitkanda.Dal.User

@{
    ViewData["Title"] = "我的信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>我的信息</h2>

<div>
    <h4>我的信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
            <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
         
        
        <dt>
            @Html.DisplayNameFor(model => model.IP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IP)
        </dd>
        
       
        <dt>
            @Html.DisplayNameFor(model => model.AddTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddTime)
        </dd>
    </dl>
</div>
<div>
   
</div>
